/*variables are not used to prevent compatibility issues, they are used as reference to copy*/
:root {
    --text-dark-blue: #42809b;
    --text-light-blue: #62b9df;
}

*
{
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;

    margin: 0;

    margin-block-start: 0px;
    margin-block-end: 0px;

    margin-inline-start: 0px;
    margin-inline-end: 0px;

    padding: 0;

    padding-block-start: 0px;
    padding-block-end: 0px; 

    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

html {
    min-height: 100%;
}

inventory-container, body[isolated] {
    background: linear-gradient(60deg, rgb(29, 42, 51), rgb(30, 51, 65));
}

/*maybe should to be placed into some specific subtopic sheet*/
body[isolated] {
    padding: 20px 10px 10px 20px;

}

body {
    color: #f09308;
    font-family: Verdana, Tahoma;
}

body[subtopic] {
    overflow-y: hidden;
    float: left;

    font-size: 14px;
}

[subtopic] *
{
    position: relative;
}



h1 {
    color: #f09308;
}

h3 {
    color: #62b9df;
}

etymology-description,
etymology-description i,
source-reference,
source-reference a,
source-reference i,
name-alias,
space-block,
h1,
h3,
ol,
ul,
li,
img,
p
{
    display: block;
    float: left;
    clear: both;
}

etymology-description label,
name-alias label {
    display: block;
    float: left;
    margin-left: 5px;
}

etymology-description {

    margin-left: 10px;
    color: gray;

    opacity: 0.8;
    font-style: italic;
}

source-reference {
    margin-top: 15px;
}

source-reference a {

    text-decoration: none;
    color: rgb(186, 233, 33);
    transition: color 0.4s;
}

source-reference a:hover {
    color: #62b9df;
}

[data-font-size=small] {
    font-size: 12px;
}

/*should be processed by js, if more value appear*/
li {
    margin-left: 15px;
}