body {
    background-color: gray;
    font-family: Tahoma;
}

.button {
    margin-top: 15px;
    border: 3px solid black;
    padding: 3px;
    font-size: 18px;
    display: inline-block;
    font-weight: 900;
    font-family: Tahoma;
    background-color: rgb(87, 76, 76);
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

#wrongIndexes {
    font-size: 10px;
    background-color: rgba(150, 0, 0, 0.3);
}

#readButton, #clearTestButton {
    color: #FA0;
}

#readButton:hover, #clearTestButton:hover {
    border-color: #FA0;
}

.errorInput {
    border-color: red;
    background-color: royalblue;
}

#startButton, #endButton, #repeatWrongButton {
    color: rgb(11, 173, 11);
}

#startButton:hover, #endButton:hover, #repeatWrongButton:hover {
    border-color: rgba(0, 255, 0, 0.733);
}

.hidden {
    display: none;
}

.question_block {
    margin-top: 20px;
}

.question_name {
    font-size: 18px;
    font-weight: 900;
}

.answers_list {
    font-size: 17px;
    line-height: 23px;
}

#questions .question_name {
    text-decoration: underline;
    font-size: 20px;
}

#questions .answers_list li[valid=true] {
    color: lime;
}

#test .answers_list {
    list-style-type: lower-alpha;
}

#test.active .answers_list li {
    cursor: pointer;
}

[explanation] {
    padding-left: 10px;
    font-size: 12px;
    font-style: italic;
}

[explanation]::before {
    content: '(';
}

[explanation]::after {
    content: ')';
}

#test.active [explanation] {
    display: none;
} 

#test.active .answers_list li:hover{
    color: rgb(102, 255, 0);
}

#test .answers_list li::before {
    content: ')';
    left: -5px;
    top: 0px;
    position: relative;
}

.selected {
    color: blue;
}

.error [answer]::after {
    content: '  ❌';
}

.correct [answer]::after {
    content: '  ✅'
}

#score {
    margin-left: 20px;
    font-size: 26px;
    font-weight: 900;
}

#score span:nth-child(2) {
    color: lime;
}

#score span:nth-child(2)::before {
    color: black;
    content: ' / '
}

#score span:nth-child(2)::after {
    color: black;
    content: ' points, ';
}

#score span:nth-child(3)::after {
    content: '%';
}