test-main[status=running] answer-container,
question-link
{
    cursor: pointer;
}

test-main[status=running] answer-container:hover {
    color: #62b9df;
}

question-identificator,
a.question-link:hover {
    color: rgb(186, 233, 33);
}

question-links:hover {
    opacity: 1;
}

question-page[active] {
    display: block;
}

question-page:not([active]) {
    display: none;
}

question-block {
    display: block;
    margin-bottom: 40px;
}

question-upper {
    display: block;
    margin-bottom: 5px;
}

question-title {
    display: block;

    margin-bottom: 6px;

    cursor: alias;

    font-size: 22px;
    line-height: 22px;
}

a.question-link {
    transition: color 0.4s;
    color: gray;
    text-decoration: none;
}

question-links {
    color: gray;
    opacity: 0.8;

    transition: all 0.8s;
}

question-link-separator {
    margin: 0 5px;
}

question-identificator::before {
    content: 'id: ';
}

answer-container {
    display: block;

    margin-top: 2px;

    font-size: 17px;

    color: #42809b;
    transition: color 0.4s;
}

/*id for importance*/
#test-main answer-container[selected] {
    color: #00FF00;
}

/*just for clarity*/
answer-container[selected][incorrect] {
    color: #F00 !important;
}

answer-container[incorrect] {
    color: #FF0 !important;
}