question-page[active] {
    display: block;
}

question-page:not([active]) {
    display: none;
}

question-block {
    display: block;
    margin-bottom: 10px;
}

question-upper {
    display: block;
    margin-bottom: 5px;
}

question-title {
    display: block;

    margin-bottom: 6px;

    cursor: alias;

    font-size: 22px;
    line-height: 22px;
}

question-identificator {
    color: rgb(186, 233, 33);
    font-style: 14px;
}

question-identificator::before {
    content: 'id: ';
}

identificator-container {
    display: none;
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 10px;
    border: 1px solid #f09308;
    border-radius: 3px;
    background: linear-gradient(60deg, rgb(29, 42, 51), rgb(30, 51, 65));
}

question-title:hover ~ identificator-container {
    display: block;
}

answer-container {
    display: block;
    cursor: pointer;

    margin-top: 2px;

    font-size: 17px;
}

answer-text, answer-alpha {
    color: #42809b;
    transition: color 0.4s;
}

answer-container:hover answer-text, answer-container:hover answer-alpha {
    color: #62b9df;
}

answer-container[selected] answer-text {
    color: #7FFF00;
}