html, body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    background-color: #333;

    min-height: 100vh;

    font-family: Verdana, Tahoma;
}

* {
    box-sizing: inherit;
}

h1, p {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

header, main {
    width: 100%;
    position: relative;
}

header {
    min-height: 10vh;
    padding-left: 10px;

    clear: both;
}

header h1 {
    color: #ADF;
    font-size: 5vh;
}

header p {
    color: #666;
    font-size: 2.5vh;
}

main {
    min-height: 90vh;

    clear: both;
}

.noSelect, #errorGuide [class*=headline] {
    user-select: none;
}

/*TEXT AREAS*/

textarea, .textarea {
    resize: none;
    background-color: #555;
    color: #CCC;

    font-size: 20px;
    font-family: monospace;

    position: absolute;

    width: 50%;
    height: 100%;
    float: left;

    padding: 8px;
}

.textarea {
    word-wrap: break-word;
    overflow: auto;
}

#input {
    left: 0;
}

#errorContainer {

    background-color: #FFF;

    border-width: 3px;
    border-style: solid;
}

/*if no error, do not display error message*/
#errorContainer:not([data-error]) {
    display: none;
}

#errorContainer #errorLabel {
    font-size: 35px;
    font-weight: 900;
}

#errorContainer[data-error=mild] {
    color: #880;
    border-color: #FF5;
}

#errorContainer[data-error=severe] {
    color: #800;
    border-color: #F55;
}

#errorGuide {
    font-size: 16px;
}

#errorGuide {
    max-height: 100%;

}

#errorGuide .headline {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#errorGuide [class*=headline] {
    color: #080;
}

#errorGuide .highlight {
    font-size: 20px;
    font-weight: 900;
    color: orangered;
}

#errorGuide .text {
    font-size: 16px;
    letter-spacing: -0.8px;
    color: black;
}

#output, #errorContainer {
    left: 50%;
}

#output {
    border: solid 3px #0C0;
}

@media only screen and (max-width: 600px) {
    textarea, .textarea {
        width: 100%;
        height: 100vh;
    }
    #output, #errorContainer {
        top: 100vh;
        left: 0;
    }
  }

.reportList {
    list-style-type: none;;
    padding-inline-start: 0;
}

.reportList li {
    position: relative;
}

.reportList .lineNumber {
    position: absolute;
    text-align: right;
}

.reportList .text {
    color: blue;
    display: inline-block;
}

.reportList .leftover {
    color: orangered;
    font-weight: 900;
}

.reportList .leftover::after {
    content: '  <-- DELETE THIS';
    color: #080;
}
.reportList[data-lineDigits="1"] .lineNumber {
    width: 15px;
}
.reportList[data-lineDigits="1"] .text {
    padding-left: 25px;
}

.reportList[data-lineDigits="2"] .lineNumber {
    width: 25px;
}
.reportList[data-lineDigits="2"] .text {
    padding-left: 35px;
}

.reportList[data-lineDigits="3"] .lineNumber {
    width: 35px;
}
.reportList[data-lineDigits="3"] .text {
    padding-left: 45px;
}

.reportList[data-lineDigits="4"] .lineNumber {
    width: 45px;
}
.reportList[data-lineDigits="4"] .text {
    padding-left: 55px;
}

.reportList[data-lineDigits="5"] .lineNumber {
    width: 55px;
}
.reportList[data-lineDigits="5"] .text {
    padding-left: 65px;
}

.reportList[data-lineDigits="6"] .lineNumber {
    width: 65px;
}
.reportList[data-lineDigits="6"] .text {
    padding-left: 75px;
}