html, body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    background-color: #333;

    min-height: 100vh;
}

* {
    box-sizing: inherit;
}

h1, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

header, main {
    width: 100%;
    position: relative;
}

header {
    min-height: 10vh;
    padding-left: 10px;

    clear: both;
}

header h1 {
    color: #ADF;
    font-size: 5vh;
}

header p {
    color: #666;
    font-size: 2.5vh;
}

main {
    min-height: 90vh;

    clear: both;
}

/*TEXT AREAS*/

textarea, .textarea {
    resize: none;
    background-color: #555;
    color: #CCC;

    font-size: 20px;

    position: absolute;

    width: 50%;
    height: 100%;
    float: left;

    padding: 8px;
}

.textarea {
    word-wrap: break-word;
    overflow: auto;
}

#input {
    left: 0;
}

#errorContainer {
    
    color: #F00;

    background-color: #FFF;

    border-color: #F55;
    border-width: 3px;
    border-style: solid;
}

/*if no error, do not display error message*/
#errorContainer:not([data-error=true]) {
    display: none;
}

#errorContainer h1 {
    font-size: 20px;
}

#output, #errorContainer {
    left: 50%;
}

@media only screen and (max-width: 600px) {
    textarea, .textarea {
        width: 100%;
        height: 100vh;
    }
    #output, #errorContainer {
        top: 100vh;
        left: 0;
    }
  }